click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
six==1.11.0
Werkzeug==0.12.2
requests==2.18.4
pyAudioAnalysis==0.1.3
flake8==3.5.0
jupyter==1.0.0
python-magic==0.4.15